.schedule-container {
     min-width: 800px;
}

.input-container {
     min-width: 800px;
}

 body {
        background: url('http://i.ytimg.com/vi/9hmQSa1TLFk/maxresdefault.jpg') no-repeat center center fixed;
<<<<<<< HEAD
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
=======
 
>>>>>>> 4dd057b02d65586e9e6dbfdf56edab6c811c7ca0
   }

 table {
     border-collapse: separate;
     border-spacing: 6px;
}

.jumbotron {
     color: white;
     background-color: rgba(0,0,0,0.3);
     min-width: 800px;
}
