.schedule-container {
     min-width: 1000px;

}

.input-container {
     min-width: 1000px;
   
}


 body {
        background: url('http://i.ytimg.com/vi/9hmQSa1TLFk/maxresdefault.jpg') no-repeat center center fixed;
    
   }

 table {
     border-collapse: separate;
     border-spacing: 16px;

}

.jumbotron {
     color: white;
     background-color: rgba(0,0,0,0.4);
     min-width: 1000px;
}
