.schedule-container {
     min-width: 1600px;

}

.input-container {
     min-width: 1600px;
   
}


 body {
        background: url('../img/cherry.jpg') no-repeat center center fixed;
 
   }

 table {
     border-collapse: separate;
     border-spacing: 16px;

}

.jumbotron {
     color: white;
     background-color: rgba(0,0,0,0.1);
     min-width: 1600px;
}
